<div class = "container">

<div class = "row">
      <h2>Add a Burger</h2>
</div>
  <div class = "row">
    <div class = "col"><!-- start of col 1 -->    
      <form class="createBurgerForm">
        <div class="form-group">
          <label for="newBurger">Burger Name:</label>
          <input type="text" id="newBurger" name="name">
          <button type="submit">Add a burger</button>
        </div>
        
      </form>
    </div> <!-- end col 1 -->
  </div> <!-- end row 1 -->
  <div class = "row">
    <div class = "col">
      <h1>Burgers yet to be devoured!</h1>
      <ul>
        {{#each burger}}
          {{#unless devoured}}
            <div class='burgerBox'>
              {{this.id}}.&nbsp;&nbsp;{{this.burger_name}}
              <button data-id="{{this.id}}" class="devourBurger">Devour Burger!</button>
            </div>
          {{/unless}}
        {{/each}}
      </ul>
    </div> <!-- end col 1 -->
    <div class = "col">
      <h1>Devoured burgers!</h1>
      <ul>
       
        {{#each burger}}
          {{#if devoured}}
            <div class='burgerBox'>
              {{this.id}}.&nbsp;&nbsp;{{this.burger_name}}<br>
           
            </div>
            
          {{/if}}
        {{/each}}
        
      </ul>
    </div> <!-- end col 2 -->
  </div> <!-- end row 2 -->
</div>
